[package]
name = "tari_crypto"
description = "Tari Cryptography library"
authors = ["The Tari Development Community"]
repository = "https://github.com/tari-project/tari"
categories = ["cryptography"]
homepage = "https://tari.com"
readme = "README.md"
license = "BSD-3-Clause"
version = "0.13.0"
edition = "2018"

[dependencies]
tari_utilities = { git = "https://github.com/tari-project/tari_utilities.git", tag="v0.4.3" }

base64 = "0.10.1"
blake2 = "0.9.1"
#bulletproofs = { package = "tari_bulletproofs", git = "https://github.com/tari-project/bulletproofs", tag = "v4.2.0" }
bulletproofs_plus = { package = "tari_bulletproofs_plus", git = "https://github.com/tari-project/bulletproofs-plus", tag = "v0.0.5" }
bulletproofs_plus = { package = "tari_bulletproofs_plus", path = "../bulletproofs-plus" }
curve25519-dalek = { package = "curve25519-dalek", version = "4.0.0-pre.2", default-features = false, features = ["serde", "alloc"] }
digest = "0.9.0"
getrandom = { version = "0.2.3", default-features = false, optional = true }
lazy_static = "1.3.0"
log = "0.4"
merlin = { version = "3", default-features = false }
once_cell = "1.8.0"
rand = { version = "0.8", default-features = false }
serde = "1.0.89"
serde_json = "1.0"
sha3 = "0.9"
thiserror = "1.0.20"
wasm-bindgen = { version = "^0.2", features = ["serde-serialize"], optional = true }
zeroize = "1.0.0"

[dev-dependencies]
bincode = "1.1.4"
blake3 = "0.3"
criterion = "0.3.4"
sha2 = "0.9.5"
wasm-bindgen-test = "0.3.24"

[build-dependencies]
cbindgen = "0.17.0"

[features]
default = []
simd_backend = ["curve25519-dalek/simd_backend", "bulletproofs/simd_backend"]
simd = ["simd_backend"]
avx2 = ["simd_backend"] # deprecated alias for simd_backend
wasm = ["wasm-bindgen", "getrandom/js"]
ffi = []
musig = []

[lib]
# Disable benchmarks to allow Criterion to take over
bench = false
crate-type = ["lib", "cdylib", "staticlib"]

[[bench]]
name = "benches"
path = "benches/mod.rs"
harness = false

[package.metadata.wasm-pack.profile.release]
wasm-opt = ["-Oz", "--enable-mutable-globals"]
