[package]
name = "tari_crypto"
description = "Tari Cryptography library"
authors = ["The Tari Development Community"]
repository = "https://github.com/tari-project/tari"
categories = ["cryptography"]
homepage = "https://tari.com"
readme = "README.md"
license = "BSD-3-Clause"
version = "0.11.2"
edition = "2018"

[dependencies]
tari_utilities = { git = "https://github.com/tari-project/tari_utilities", branch="main"}
base64 = "0.10.1"
digest = "0.9.0"
rand = { version = "0.8", default-features = false }
getrandom = { version = "0.2.3", default-features = false, optional = true }
clear_on_drop = "=0.2.4"
curve25519-dalek = { package = "curve25519-dalek-ng", version = "4.1", default-features = false, features = ["u64_backend", "serde", "alloc"] }
bulletproofs = { version = "4.1", package="tari_bulletproofs", git = "https://github.com/tari-project/bulletproofs", branch = "main" } # todo: update when 4.1 pushed to crates.io
merlin = { version = "3", default-features = false }
sha2 = "0.9.5"
sha3 = "0.9"
thiserror = "1.0.20"
blake2 = "0.9.1"
rmp-serde = "0.13.7"
serde = "1.0.89"
serde_json = "1.0"
lazy_static = "1.3.0"
wasm-bindgen = { version = "^0.2", features = ["serde-serialize"], optional = true }

[dev-dependencies]
criterion = "0.3.4"
bincode = "1.1.4"
blake3 = "0.3"
wasm-bindgen-test = "0.3.24"

[build-dependencies]
cbindgen = "0.17.0"

[features]
default = ["no_cc"]
simd_backend = ["curve25519-dalek/simd_backend", "bulletproofs/simd_backend"]
simd = ["simd_backend"]
avx2 = ["simd_backend"] # deprecated alias for simd_backend
wasm = ["wasm-bindgen", "getrandom/js"]
ffi = []
no_cc_nightly = ["clear_on_drop/nightly"]
no_cc = ["clear_on_drop/no_cc"]

[lib]
# Disable benchmarks to allow Criterion to take over
bench = false
crate-type = ["lib", "cdylib", "staticlib"]

[[bench]]
name = "benches"
path = "benches/mod.rs"
harness = false

[package.metadata.wasm-pack.profile.release]
wasm-opt = ["-Oz", "--enable-mutable-globals"]
