on: [push, pull_request]

name: Test

jobs:
  test:
    name: cargo test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true
      - name: test/debug
        uses: actions-rs/cargo@v1
        with:
          command: test
      - name: test/release
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --release
      - name: test/debug all features
        if: ${{ matrix.rust != 'stable' }}
        uses: actions-rs/cargo@v1
        with:
          command: test
          # TODO: re-add all features once https://github.com/rust-lang/packed_simd/pull/341 is used by dalek
          # args: --all-features
          args: --features wasm --features ffi
      - name: test/release all features
        if: ${{ matrix.rust != 'stable' }}
        uses: actions-rs/cargo@v1
        with:
          command: test
          # TODO: re-add all features once https://github.com/rust-lang/packed_simd/pull/341 is used by dalek
          # args: --release --all-features
          args: --release --features wasm --features ffi --features borsh
      - name: docs build
        uses: actions-rs/cargo@v1
        with:
          command: doc
          args: --features wasm --features ffi
      - name: bench
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --benches
